[Unit]
Description=Mount Blobfuse
Requires=configure-blobfuse.service
Wants=configure-blobfuse.service

[Mount]
What=/usr/local/bin/mount-blobfuse
Where=/mnt/blobfuse

# This works, but cannot provide tmp-path or credentials with -o flags
# so need to use script instead
Type=fuse

Options=_netdev,attr_timeout=240,entry_timeout=240,negative_timeout=120
